!!!
%html
  %head
    = partial "head-contents"
    = javascript_include_tag :bundle
  %body{ class: page_classes }
    = partial "header"
    = yield
    = partial "universal-footer"
    = partial "copyright-footer"
    = partial "analytics" if production?
