!!!
%html
  %head
    = partial "head-contents"
  %body{ class: page_classes }
    = partial "header"
    = yield
    = partial "universal-footer"
    = partial "copyright-footer"
    = partial "analytics" if production?
