!!!
%html
  %head
    = partial "head_contents"
    = javascript_include_tag :bundle, async: !development?

  %body{ class: page_classes }
    = partial "header"
    #content-wrapper
      = yield
    = partial "universal-footer"
    = partial "copyright-footer"
