!!!
%html
  %head
    = partial "partials/head_contents"
    = javascript_include_tag :bundle, async: !development?

  %body{ class: page_classes }
    = partial "partials/header"
    #content-wrapper
      = yield
    = partial "partials/universal-footer"
    = partial "partials/copyright-footer"
