%section.lessonx
  %aside.lessonx-image
    = image_tag "lesson#{lesson.number}-500w.jpg"
  %article.lessonx-content
    %h3= data.lesson_titles["lesson#{lesson.number}"]
    %ul
      - lesson.overview_points.each do |key, point|
        %li= point

    %h4 Introduction
    = lesson.intro
