%li.nav-link= link_to "Overview", overview_smart_path(current_page.path),
  class: "scroll-on-page-link"
%li.nav-link= link_to "The Lessons", "/lessons/"
%li.nav-link= link_to "Training", "/training/"
%li.nav-link= link_to "Downloads", "/downloads/"
%li.nav-link= link_to "Purchase", "/purchase/"
