%section.volume
  %aside.volume-image
    = image_tag "volume#{volume.number}-500w.jpg"
  %article.volume-content
    %h4= data.volume_titles["volume#{volume.number}"]
    %p= volume.content
    %ul
      - volume.lessons.each do |_key, lesson|
        %li= link_to data.lesson_titles[lesson].to_s, "/lessons/#{lesson}"
