---
layout: home
---

%section.nav-transparent{ role: "banner" }
  .navigation-wrapper
    = link_to "/", class: "logo" do
      = inline_svg "logo-mini-blue.svg", class: "svg-logo"
    %a.navigation-menu-button#js-mobile-menu-tra{ href: "javascript:void(0)" }
      %i.fa.fa-bars
    %nav{ role: "navigation" }
      %ul.navigation-menu.show#js-navigation-menu-tra
        = partial "nav-links"

%section.alpha
  .logo-wrapper
    = inline_svg "logo-full.svg", class: "svg-logo"

  %a.scroll.scroll-on-page-link{ href: "#earthscape-link" }
    %i.fa.fa-chevron-down.fa-2x.animated

%section.earthscape-hero
  %span.link-target#earthscape-link
  .hero-inner
    .hero-copy
      %h1 God's Word is the most powerful evangelistic force on Earth.

%section.faith-cometh
  %article.faith-cometh-content
    %h3.quote Faith cometh by hearing, and  hearing by the word of God.
    %cite.reference &mdash; Romans 10:17
    %p
      Bible First is an evangelism tool designed to help you reach the lost
      effectively. This distance-learning course takes readers on a
      chronological journey through the book of Genesis, presenting not only
      the Gospel, but every major doctrine in Scripture. The lessons point to
      Jesus, drawing on the types and parallels that God Himself built into
      Genesis.

  = image_tag "volume1-3d-slice.png"

  .image-3d-full
    = image_tag "volume1-3d.png"

%section.talking-points
  %ul.tp-blocks
    %li.block
      = image_tag "missionaries-walking.jpg"
      %h4
        Developed by
        %br Missionaries
      %p
        Designed and written by missionaries serving in Western Ukraine, Bible
        First is a tried-and-true evangelism tool that you can use with
        confidence.
    %li.block
      = image_tag "chronological-approach.jpg"
      %h4
        Chronological
        %br Approach
      %p
        Beginning at Genesis 1:1, Bible First presents readers with the message
        of Scripture in the order God has given it. This approach builds the
        foundation necessary for a correct understanding of the Gospel.
    %li.block
      = image_tag "christ-in-genesis.jpg"
      %h4
        Presenting Christ
        %br in Genesis
      %p
        Genesis is full of stories that point to the Messiah. Bible First takes
        full advantage of this, highlighting the Gospel message throughout the
        course.
    %li.block
      = image_tag "visual-format.jpg"
      %h4
        Engaging
        %br Visual Format
      %p
        Bible First consists of 20 lessons, each of which presents an engaging
        and visually pleasing design that keeps readers enthralled with the
        message of Scripture.
    %li.block
      = image_tag "build-relationships.jpg"
      %h4
        Designed to Build
        %br Relationships
      %p
        Bible First provides a context in which to build trust with your
        students. As you progress through the lessons together, you'll
        establish channels of communication which will open doors to share
        Christ.
    %li.block
      = image_tag "every-doctrine.jpg"
      %h4
        Every Major
        %br Doctrine
      %p
        From blood atonement with Abel to imputed righteounsness with Abraham,
        Bible First ties in every major doctrine of Scripture using the types
        and parallels God has built into Genesis.

%section.call-to-action
  .hero-inner
    .hero-copy
      %h3
        &ldquo;Go ye therefore,
        %br.line-break and teach all nations...&rdquo;
      %p Matthew 28:19
      = link_to("/training", class: "button") do
        = content_tag :button, "Get Started"

