---
layout: home
---

%section.nav-transparent{ role: "banner" }
  .navigation-wrapper
    = link_to "/", class: "logo" do
      = inline_svg "logo-mini-blue.svg", class: "svg-logo"
    %a#js-mobile-menu-tra.navigation-menu-button{href: "javascript:void(0)"}
      %i.fa.fa-bars
    %nav{ role: "navigation" }
      %ul#js-navigation-menu-tra.navigation-menu.show
        = partial "nav-links"

%section.alpha
  .logo-wrapper
    = inline_svg "logo-full.svg", class: "svg-logo"

  %a.scroll.scroll-on-page-link{ href: "#earthscape-link" }
    %i.fa.fa-chevron-down.fa-2x.animated

%section.earthscape-hero#earthscape-link
  .hero-inner
    .hero-copy
      %h1 God's Word is the most powerful evangelistic force on Earth.

%section.faith-cometh
  %article.faith-cometh-content
    %h3.quote Faith cometh by hearing, and  hearing by the word of God.
    %cite.reference &mdash; Romans 10:17
    %p Bible First is an evangelism tool designed to help you reach the lost effectively. This distance-learning course takes readers on a chronological journey through the book of Genesis, presenting not only the Gospel, but every major doctrine in Scripture. The lessons point to Jesus, drawing on the types and parallels that God Himself built into Genesis.

  %aside.faith-cometh-image
    = image_tag "volume1-3d.png"
