---
title: Training
---

%section.training-hero
  .hero-inner
    .hero-copy
      %h1 You can be a Bible First coach.

%section.training-intro-wrapper
  .training-intro
    .training-copy
      %p
        Christ has commanded us to go into the world and teach all nations.
        The Bible First program was developed with this command in mind.
        As a Bible First coach, you'll invite your own students to study the
        Scriptures with you, using Bible First as a guide. This approach to
        evangelism provides an excellent context in which to share the Gospel.
      %p
        %em Here's how to get started...

    .training-title
      %h2
        Step 1: Read the lessons.
    .training-copy
      %p
        Before you begin your journey as a Bible First coach, it's important
        that you first read through all of the lessons yourself. We think you're
        going to love them!
      %ul.fa-ul
        %li
          %i.fa-li.fa.fa-arrow-right{ "aria-hidden" => "true" }
          = link_to "/lessons/" do
            Browse an overview of the lessons
        %li
          %i.fa-li.fa.fa-arrow-right{ "aria-hidden" => "true" }
          = link_to "/purchase/" do
            Order your own complete set

    .training-title
      %h2
        Step 2: Watch the videos.

    .training-copy
      %p
        We've created a collection of training videos that will help you get
        started as a Bible First coach. If you're new to Bible First, this
        series is a must-see!
      %ul.fa-ul
        %li
          %i.fa-li.fa.fa-arrow-right{ "aria-hidden" => "true" }
          = link_to "#video-start", class: "scroll scroll-on-page-link" do
            Start watching now

    .training-title
      %h2
        Step 3: Start your ministry!

    .training-copy
      %p
        You've read the
        = succeed "." do
          = link_to "lessons", "/lessons/"
        You've completed the
        = succeed "." do
          = link_to "training videos", "#video-start",
            class: "scroll scroll-on-page-link"
        Now it's time to share what you've learned with others. Evangelism can
        be intimidating at first, but don't forget: Christ is with you. He is
        the One sending you out, and He will never leave your side.
      %blockquote.quote
        Go ye therefore, and teach all nations, baptizing them in the name
        of the Father, and of the Son, and of the Holy Ghost: Teaching them
        to observe all things whatsoever I have commanded you: and, lo, I am
        with you alway, even unto the end of the world. Amen.
        %br
        %cite &mdash;Matthew 28:19-20
      %p
        We're praying for you as you embark on this mission, and we'd love to
        hear how it's going. If you have questions or feedback, please
        = succeed "!" do
          = link_to "let us know", "/contact/"

    .callout-box
      %h1 Downloads
      %p
        Looking for downloadable coaching resources?
        Check out our
        = link_to "downloads", "/downloads/"
        page.

    .training-title.bftv
      %span.link-target#video-start
      %h2 Bible First Training Videos

    .video-sample
      %a.scroll.scroll-on-page-link{ href: "#video-really-start" }
        = image_tag "nathan-video-screenshot.jpg"
    .video-intro
      %p
        These videos have been designed to give you the foundation you need to
        build an effective ministry using Bible First. We strongly encourage
        you to watch this series in its entirety before you begin your journey
        as a Bible First coach.
      %p
        If you have any questions or comments about the material presented here,
        please
        = succeed "." do
          = link_to "contact us", "/contact/"

%section.training-videos
  %span.link-target#video-really-start
  %h5 Bible First Training Videos
  %hr
  - data.part_titles.each do |part|
    = partial "partials/video-part", locals: { part: part }
  = link_to("#", class: "back-to-top") do
    %i.fa.fa-sort-asc{ "aria-hidden" => "true" }
    top
